body {
width: 99%;
margin: 2px auto;
font-family: Arial, "MS Trebuchet", sans-serif;
text-align: center;
}
header, footer, section, aside, nav, article {
	display: block;
}
header#page_header {
width: 80%;
margin: 4px auto;
border: 2px solid blue;
float: right;
}
header#page_header nav ul {
list-style: none;
margin: 0; /*distanta intre bordura si marginea paginii*/
padding: 0; /*distanta intre bordura si continut*/
background-color: #00FFFF;
}
#page_header nav ul li {
display:inline; /*aranjarea elementelor din lista*/
margin: 0 20px 0 0;
padding: 1px; /*distanta dintre elementele din lista inline*/
}
section#postari {
	float: right; /*pozitionarea sectiunii*/
	width: 80%;
	background-color: #f1f2fe;
	border: 1px solid yellow;
}

article.post {
margin:10px;
background-color: #9999FF;
text-align: left;
}

article.post p { clear: right;}
section#sidebar {
float: left;
width: 18%;
background-color: #d7d8fe;
border: 1px solid green;
padding:5px;
}
section#sidebar nav ul {
margin: 3px auto;
text-align: left;
padding: 0 0 0 15;
}
section#sidebar {
width: 260px;
height: 550px;
margin: 10px auto;
background-color: #fefefe;
}
footer#page_footer {
clear: both;
width: 100%;
margin: 4px auto;
border: 2px solid blue;
}h1 {
color: #FF0000;
}
#postari #postari_header h2 {
background-color: #99FFFF;
}
#