@charset "utf-8";
.antet {
	background-color: #CCFF99;
	position: absolute;
	height: 20%;
	width: 100%;
	left: 2px;
	top: 0px;
}
.stanga {
	background-color: #66FFFF;
	position: absolute;
	height: 70%;
	width: 10%;
	left: 0px;
	top: 20%;
}
.mijloc {
	background-color: #66FF99;
	position: absolute;
	height: 70%;
	width: 80%;
	left: 10%;
	top: 20%;
}
.dreapta {
	background-color: #FFFF99;
	position: absolute;
	height: 70%;
	width: 10%;
	left: 90%;
	top: 20%;
}
.subsol {
	background-color: #66FFFF;
	position: absolute;
	height: 20%;
	width: 100%;
	left: 0px;
	top: 90%;
}
