@charset "utf-8";
h1 {
	background-color: #8CDCC8;
}
ul {
	background-color: #C8A0C8;
}
ol {
	background-color: #DAFFC3;
	letter-spacing: 5px;
}
p {
	background-color: gray;
	letter-spacing: 1cm;
}
body {
	background-image: url(imagine.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
