@charset "utf-8";
a.culoareText:link {
	color: #00CC00;
}
a.culoareText:visited {
	color: #FFFF00;
}
a.culoareText:hover {
	color: #9900FF;
}
a.culoareText:active {
	color: #FF00FF;
}
a.dimensiuneCaractere:link {
	font-size: 12px;
}
a.dimensiuneCaractere:visited {
	font-size: 14px;
}
a.dimensiuneCaractere:hover {
	font-size: 16px;
}
a.dimensiuneCaractere:active {
	font-size: 18px;
}
a.culoareFundal:link {
	background-color: #FF0000;
}
a.culoareFundal:visited {
	background-color: #00FF00;
}

a.culoareFundal:hover {
	background-color: #3333FF;
	color: #FFFFFF;
}
a.culoareFundal:active {
	background-color: #FF33FF;
}
a.familieFonturi:link {
	font-family: Arial, Helvetica, sans-serif;
}
a.familieFonturi:visited {
	font-family: "Times New Roman", Times, serif;
}
a.familieFonturi:hover {
	font-family: "Courier New", Courier, monospace;
}
a.familieFonturi:active {
	font-family: Georgia, "Times New Roman", Times, serif;
}
a.decoratia:link {
	text-decoration: none;
}
a.decoratia:visited {
	text-decoration: line-through;
}
a.decoratia:hover {
	text-decoration: overline;
}
a.decoratia:active {
	text-decoration: underline;
}
